.about-us{
    padding: 60px 24px 120px;
}
.about-us__title{
    min-width: 73px;
    margin-bottom: 25px;
}
.about-us__subtitle-container{
    max-width: 600px;
    margin-right:15px;
}
.about-us__subtitle{
    font-size: 38px;
    letter-spacing: 3px;
}
.about-us__paragraph-item1-container{
    max-width: 600px;   
}
.about-us__second-line-container{
    margin-top: 50px;
}
.about-us__second-line-container-first-column{
    max-width: 555px;
}
.about-us__paragraph-item2{
    margin-top: 25px;
    margin-bottom: 20px;
}

.about-us__yoga-types-title-container{
    width: 150px;
    margin-bottom: 15px;
}
.about-us__yoga-types-title{
    color: var(--button-border-color);
    font-size: 14px;
    font-family: var(--main-font);
    font-weight: 700;
    letter-spacing: calc(0.2*1em);
}
.about-us__lists-line{
    width: 59px;
    height: 3px;
    background-color: var(--general-title-color);
    margin-bottom: 15px;
}
.about-us__yoga-types{
    list-style-type: none;
    width: 200px;
}
.about-us__list-item {
    display: flex;
    align-items: center;
    margin-bottom: 3px;
}
.about-us__list-item::before{
      content: " ";
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: var(--classes-background-color);
      margin: 0 10px 0 0;
}

.about-us__conditions-title{
    color: var(--button-border-color);
    font-size: 14px;
    font-family: var(--main-font);
    font-weight: 700;
    letter-spacing: calc(0.2*1em);
    margin-bottom: 15px;
}

.about-us__list-item-text{
    color: var( --general-text-color);
}
@media (max-width: 767px){
    .about-us__paragraph-item1-container{
        margin: 50px 0 0 0;
    }
    .about-us__lists{
        margin-top: 60px;
    }
}
@media (min-width: 767px){
    .about-us__first-line-container{
        display: grid;
        justify-content: space-between;
        grid-template-columns: 1fr 1fr;
    }
    .about-us__second-line-container{
        display: grid;
        grid-template-columns: 50% 25% 25%;
    }
    .about-us__yoga-types-container{
        max-width: 307px;
        margin-left: 15px;  
    }
}