.training-schedule {
    text-align: center;
}
.training-schedule__title {
    margin: 70px 70px 20px 70px;
}
.training-schedule__text {
    font-size: 18px;
    font-weight: 500;
    margin: 20px 70px 40px 70px;
}
li {
    list-style-type: none;
}


table {
    border-collapse: collapse;
    width: 100%;
}

table th,
table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    font-size: 16px;
}

@media screen and (min-width: 327px) {
    .table-container {
        width: 95%;
    }
}